.con {
    width: 100%;
    height: 500px;
    display: flex;
    margin-top: 120px;
    align-items: center;
    justify-content: center;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .leftmaindiv {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 20%;
        height: 100%;
        h2 {
            font-weight: bold;
        }

        h1 {
            font-weight: bold;
        }

        img {
            margin-left: -10px;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        li {
            font-weight: bold;
            font-size: 15px;
            color: black;
        }
    }

    .rightmaindiv {
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 14px;
    }

}

.shop {
    width: 100%;
    height: 80%;
    display: flex;
    gap: 10px;
    button{
    width: 200px;
    height: 35px;
    background-color: black;
    border: none;
    outline: none;
    color: white;
    border-radius: 5px;
}
}

.card {
    display: flex;
    flex-direction: column;
margin-bottom: 10px;
p{
    font-weight: bold;
    font-size: 15px;
}
    img {
        width: 200px;
        height: 200px;
    }
}

.ul1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 150px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.184);

    ul {
        margin-left: 10px;
    }

    img {
        width: 200px;
        height: 200px;
    }
}

.buttonn {
    width: 90px;
    height: 29px;
    background-color: #DB4444;
    color: white;
    padding: 1px;
    border-radius: 4px;
    outline: none;
    border: none;
}

.someul2star {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 150px;
    margin-left: 20px;

    img {
        width: 60%;
        height: 45px;
    }
}
a:hover{
color: orange;
}
a{
    transition: 0.3s;
}
.rightmain{
    width: 200px;
    height: 22px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid rgba(103, 103, 103, 0.2);
    display: flex;
    
    justify-content: space-between;
 p{
    color: rgba(41, 41, 41, 0.818);
 }
}
.imgs{
    width: 40%;
    height: 40px;
}
.starr{
    display: flex;
    align-items: center;
    margin: 10px 0px;
}