.container {
    width: 95%;
    height: 650px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 150px auto 0px;
    padding: 10px;
}

.topcon {
    width: 100%;
    height: 8 0%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 10px 0.4px rgba(0, 0, 0, 0.281);

    .leftdiv {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 7px;
        gap: 10px;
    }

    .books {
        width: 70%;
        height: 140px;
        display: flex;
        align-items: center;

        gap: 10px;

        img {
            width: 40%;
            height: 100%;
        }

        p {
            font-size: large;
            margin: 0;
            padding: 0;
            font-family: Arial, Helvetica, sans-serif;
        }
    }

}

.cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 25%;
    height: 100%;

    h2 {
        font-weight: bold;
        font-size: large;
    }

    .topp {
        width: 100%;
        height: 30px;
    }

    .p {
        width: 34%;
        padding: 3px 5px;
        border-radius: 5px;
        border: 1px solid rgba(73, 73, 73, 0.297);
    }

    .inn {
        display: flex;
        flex-direction: column;
        gap: 25px;

        button {
            width: 80px;
            height: 30px;
            border-radius: 4px;
        }
    }

    .in {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
}

.rightdiv {
    width: 50%;
    height: 100%;
    display: flex;
    gap: 20px;
    padding: 7px;
}

.bottomcon {
    width: 98%;
    height: 50%;
    display: flex;
    justify-content: end;

    .right {
        padding: 20px;
        border: 3px solid black;
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 400px;
        height: 100%;
    }

    p {
        color: grey;
    }

    .divs {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 20px;
    }

    .bot {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 40px;

        button {
            padding: 9px;
            border-radius: 5px;
        }
    }
}
a:hover{
color: orange;
}
a{
    transition: 0.3s;
}
td {
    padding: 40px 25px 40px 25px;

    button {
        border-radius: 4px;
        font-weight: 600;
        padding: 8px;
    }
}

th {
    padding-right: 8px;
    font-weight: bold;
}

.lala {
    background-color: white;
    border-radius: 12px;
    color: black;
    border: 1px solid grey;
    padding: 7px 30px 7px 5px;
}
@media(max-width:600px){
.container{
    width:770px;
}
}