.con {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
    margin-bottom: 300px;
}
a:hover{
color: orange;
}
a{
    transition: 0.3s;
}
.main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 400px;
input {
    border: 1px solid rgba(73, 73, 73, 0.219);
    background-color: white;
    width: 100%;
    height: 35px;
    padding: 0;

    outline: none;
    border-radius: 5px;
}
}

.maindivs {
    width: 70%;
    height: 70px;
    margin-top: 15px;
}
main h1{
    margin-bottom: 21px;
    font-weight: bold;
}
 .button {
    width: 70%;
    height: 36px;
    background-color: red;
    color: white;
    border: none;
    margin-top: 20px;
    outline: none;
    border-radius: 5px;
    a{
        color: white;
        font-weight: bold;
    }
}
form{
    width: 90%;
    height: 100%;
    margin-left: 130px;
}
