@use '_peremen' as *;

.container1 {
    margin-top: 100px;
    width: 75%;
    margin: 0 auto;
    height: 600px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    padding: 0px 0px 50px 0px;
}

.topintop1 {
    width: 100%;
    height: 50px;
    display: flex;
    gap: 15px;
}

.intop1 {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;

    div {
        width: 15px;
        height: 31px;
        border-radius: 3px;
        background-color: $usuallycolor;
    }

    .bestintop1 {
        width: 50%;
        height: 100%;
        display: flex;
        background-color: white;
        align-items: center;
    }

    .topintop1 {
        width: 200px;
        height: 200px;
        background-color: white;
        align-items: center;
    }

    .bottomintop1 {
        width: 120%;
        height: 40px;
        background-color: white;

        h1 {
            font-weight: bold;
        }
    }
}
.intop1 {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;

    div {
        width: 15px;
        height: 31px;
        border-radius: 3px;
        background-color: $usuallycolor;
    }

    .bestintop1 {
        width: 50%;
        height: 100%;
        display: flex;
        background-color: white;
        align-items: center;
    }

    .topintop1 {
        width: 200px;
        height: 200px;
        background-color: white;
        align-items: center;
    }

    .bottomintop1 {
        width: 120%;
        height: 40px;
        background-color: white;

        h1 {
            font-weight: bold;
        }
    }
}

p{
    padding: 0;
}

.intop1 {
    display: flex;
    width: 320px;
    height: 89px;
    flex-direction: column;
    justify-content: space-between;


    h1 {
        font-size: 34px;
    }
}

.carousel-container {
    height: 610px;
    margin-top: 240px;
    overflow: hidden;
}

.carousel {
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel-slide {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 500px;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.6s ease;
}

.carousel-slide.active {
    opacity: 1;
}

.carousel-dots {
    position: absolute;
    bottom: 120px;
    left: 80px;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
    z-index: 10;

    .carousel-dot {
        width: 12px;
        height: 12px;
        background-color: #aaa;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        transition: background-color 0.3s;

        &.active {}
    }
}

.bottom1 {
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.left1 {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 0px 0px 40px;

    background-color: #F3F5F7;

    a {
        color: black;
    }

    img {
        width: 100%;
        height: 65%;
    }
}

.right1 {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;

    a {
        color: black;

    }

    img {
        width: 100%;
        height: 100%;
    }
}

.topinright1 {
    width: 90%;
    height: 49%;
    display: flex;
    background-color: #F3F5F7;
    gap: 10px;
}

.bottominright1 {
    background-color: #F3F5F7;
    width: 90%;
    height: 47.8%;
    display: flex;
    gap: 10px;
}

.leftintopinright1 {
    width: 40%;
    margin-right: 40px;
    justify-content: center;
    align-items: center;
    height: 80%;
    display: flex;
    justify-content: end;
    flex-direction: column;
    gap: 16px;
}

.leftinbottominright1 {
    width: 40%;
    margin-right: 40px;
    justify-content: center;
    align-items: center;
    height: 80%;
    display: flex;
    justify-content: end;
    flex-direction: column;
    gap: 16px;
}

.rightintopinright1 {
    width: 60%;
    height: 100%;
    display: flex;
}

.rightinbottominright1 {
    width: 60%;
    height: 100%;
    display: flex;
}

.container2 {
    margin-top: 100px;
    width: 100%;
    margin: 0 auto;
    height: 600px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
}

.bottom2 {
    width: 100%;
    height: 76%;
    display: flex;
    justify-content: space-between;

    h1 {
        font-weight: 600;

    }

    font-size: smaller;
}

.imgpaste {
    width: 115%;
    height: 97%;

}

.leftbottom2 {
    width: 700px;
    height: 470px;

    display: flex;
    padding: 0;
}

.rightbottom2 {
    width: 54%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFAB0066;
}

.inrightbottom2 {
    width: 75%;
    height: 60%;
    gap: 15px;
    display: flex;
    flex-direction: column;
}


.card {
    margin: 0 auto;
    width: 55px;
    height: 60px;
    background-color: #FEFEFE;
    font-size: x-large;
    justify-content: center;
    align-items: center;
    padding: 0px 5px 0px 5px;
}

.time {
    display: flex;

}

.times {
    margin-left: 10px;
    width: 77px;
    height: 77px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
}

.buttontime {
    width: 200px;
    height: 100px;
    border-radius: 7px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;

    a {
        text-decoration: none;
        color: white;
    }
}

.container3 {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 70px;
}

.bottom3 {

    background-color: #211C24;
    width: 100%;
    height: 600px;
    display: flex;
    gap: 20px;
}

.leftinbottom3 {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inleftbottom3 {
    width: 57%;
    height: 260px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    p {
        color: #909090;
    }
}

.inleftbottom3btn {
    width: 200px;
    height: 46px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: transparent;
    border: 1.5px solid #FFFFFF;
    color: #FFFFFF;

    a {
        text-decoration: none;
        color: #FFFFFF;
        font-weight: 500;
    }
}

.inrightbottom3 {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
}

.container4 {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}

.topcontainer4 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;

    h1 {
        font-weight: bold;
        color: $usuallycolor;
        font-size: 42px;
    }
}

.bottomcontainer4 {
    width: 80%;
    height: 250px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.container4divs {
    width: 30%;
    padding: 15px;
    height: 100%;
    flex-direction: column;
    gap: 20px;
    display: flex;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0.1px rgba(128, 128, 128, 0.244);

    h2 {
        color: $usuallycolor;
        font-weight: bold;
    }

    p {
        font-weight: 600;
        font-size: 14px;
    }
}

.container5 {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bottomcontainer5 {
    width: 100%;
    justify-content: center;
    height: 500px;
    display: flex;
}

.container5divs {
    width: 17%;
    padding: 0px 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    p {
        color: #909090;
    }

    button {
        color: #211C24;
        border-radius: 5px;
        width: 180px;
        height: 49px;
        background-color: transparent;
        border: 1.5px solid black;
    }

    img {
        width: 100%;
        height: 50%;
    }
}

a:hover {
    color: orange;
}

a {
    transition: 0.3s;
}

.active {
    display: block;
}

@media(max-width:600px) {
    .bottom1 {
        flex-direction: column;
    }

    .topinright1 {
        width: 442px;
        height: 300px;
        flex-direction: column;
    img{
        width: 200px;
        height: 170px;
    }
    }
    .left1{
        width: 442px;
        height: 300px;
        
    }
    .container1{
        height:1000px;
        margin-bottom: 100px;
    }
    .bottom1{
        height: 970px;
    }

    .left1 {
        padding: 0;
    }
    .bottominright1 {
        width: 442px;
        height: 400px;
        flex-direction: column;
    }
    .imgpaste{
        width: 100%;
    }
.intop1{
    width: 440px;
}
.leftintopinright1{
    justify-content: baseline;
    align-items: baseline;
}
.leftinbottominright1{
    justify-content: baseline;
    align-items: baseline;

}
.bottom2{
    width: 760px;
}
.leftbottom2{
    width: 385px;
}
.rightbottom2{
    width: 385px;
    img{
        width:200px;
        height:100px;
    }
}
.container3{
    width: 760px;
    height: 580px;
    img{
        width: 270px;
        height: 300px;
    }
}
.inleftbottom3{
    width: 450px;
    button{
        padding: 5px 0px;
    }
}
.bottomcontainer4{
    flex-direction: column;
}
.container4{
    height: 800px;
    
}
.topcontainer4{
    margin-bottom: 320px;
    width: 700px;
    justify-content: center;
    display: flex;
}
.container4divs{
    width: 400px;
}
.bottomcontainer4{
    margin-bottom: 300px;
}
.carousel-container{
    width: 770px;
    .carousel{
        width: 770px;
    }
    
}
.container5{
    margin-top: 650px;
    height: 1000px;
    margin-bottom: 550px;
}
.bottomcontainer5{
    margin-top: 100px;
    flex-direction: column;
    gap: 20px;
}
.container5divs{
    width: 700px;
    height: 470px;
    padding-bottom: 10px;
    img{
        height: 300px;
        width: 350px;
    }
    .ul{
        display: none;
    }
}
.top2{
 background-color: black;
 height: 100px;
 margin-top: 0px;
 display:none;
}
.imbottomfirstdiv{
width: 100px;
padding: 0;
background-color: blue;
display: none;
}
.bottomdiv{
    padding: 0;
    display: flex;
    justify-content: baseline;
    align-items: baseline;
    border-bottom: none;
}
.inbottomseconddiv{
    justify-content: baseline;
    align-items: baseline;

    display: flex;
}

}
.intop2 {
    width: 100%;
    height: 50px;
    
    flex-direction: column;
    gap: 10px;
    margin-bottom: 80px;
    justify-content: center;

    div {
        width: 15px;
        height: 31px;
        border-radius: 3px;
        background-color: $usuallycolor;
    }

    .bestintop2 {
        width: 70%;
        height: 100%;
        display: flex;
        background-color: white;
        align-items: center;
    }
.top2{
    display: none;
    margin-top: 20px;
}
.intop2{
    display: none;
}
    .topintop2 {
        width: 200px;
        height: 35px;
        background-color: white;
        display: flex;
        gap: 10px;
    }

    .bottomintop2 {
        width: 120%;
        height: 40px;
        background-color: white;

        h1 {
            font-weight: bold;
        }
    }
}
.ull{
    width: 200px;
    height: 180px;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px 0px 0px 4px;
    justify-content: baseline;
    align-items: baseline;
    box-shadow: 0px 0px 10px 0.1px gray;
#li3{
    width: 70px;
    padding: 3px;
}
li{
    padding: 5px 0px;
}
}

.carousel-dots{
 top: 820px;
 left: 380px;
}