* {
    margin: 0;
    padding: 0;
}
.main {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px;

}

.inmaindiv {
    
    width: 80%;
    height: 330px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.629);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 19px;
    margin: 0px auto;
    li{
        color: black;
    }
}

h2 {
    color: rgba(213, 0, 0, 0.827);
    font-size: 32px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.something {
    width: 130px;
    height: 20px;
    background-color: rgb(218, 0, 0);
    margin-left: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    padding: 2.5px;
}
a:hover{
color: orange;
}
a{
    transition: 0.3s;
}
span {
    font-weight: 800;
    font-size: 30px;
    margin-right: 5px;
}
ul {

    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

p {
    color: white;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}