.container {
    width: 100%;
    height: 460px;
    margin-top: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
img{
    width: 210px;
    height: 150px;
}
}
td{
    padding: 20px 24px;
}
th{
    font-weight: bold;
}
.main {
    width: 80%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btns {
    width: 160px;
    height: 30px;
    border-radius: 3px;
    background-color: blue;
}

.btns1 {
    width: 120px;
    height: 30px;
    background-color: red;
    border-radius: 3px;

}

a:hover {
    color: orange;
}

a {
    transition: 0.3s;
}
.topcon{
    width: 80%;
    height: 50px;
    margin-bottom: 100px;
 margin-left: 20px;
    button{ 
         border-bottom-left-radius: 7px;
         border-bottom-right-radius: 7px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        background-color: blue;
    }
}