body {
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    width: 100%;
    height: 350px;
    background-color: #DB4444;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
    margin-top: 100px;

    .somedivs {
        flex-direction: column;
        width: 250px;
        height: 60%;
        display: flex;
        gap: 20px;
    }
}

.topfoot {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-around;

    h2 {
        color: white;
    }
}

ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: start;
    align-items: start;
    list-style-type: none;
}

li {
    font-weight: bold;
    font-size: 16px;
    color: white;
}

.view {
    gap: 20px;

    h2 {
        margin-bottom: 20px;
    }

    ::placeholder {
        color: rgba(245, 245, 245, 0.555);
        font-size: small;
    }

    input {
        background-color: transparent;
        width: 230px;
        height: 32px;
        border: 2px solid rgb(196, 196, 196);
    }
}


.img {
    position: absolute;
    margin: 83px 0px 0px 200px;
}

.bottomfoot {
    width: 100%;
    height: 40px;
    border-top: 1px solid rgba(128, 128, 128, 0.319);
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        color: rgba(195, 195, 195, 0.242);
    }
}

.hate {
    width: 300px;
    height: 240px;


    .inhatemain {
        width: 100%;
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;

        gap: 10px;
    }
}

.inhatemainsour {
    width: 100%;
    height: 80px;
    display: flex;

    align-items: center;
    gap: 30px;

    a {
        text-decoration: none;
    }
}

@media(max-width:600px) {
    footer {
        width: 780px;
        height: 650px;
    }

    .topfoot {
        flex-wrap: wrap;
        justify-content: baseline;
        align-items: baseline;
    }
}