.container {
    height: 500px;
    display: flex;
    width: 100%;
    align-items: center;
    padding-left: 150px;
    margin-top: 100px;
}

.main {
    width: 80%;
    display: flex;
    gap: 10px;
    height: 500px;
}

.leftmaindiv {
    width: 360px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;

    input {
        padding: 8.6px 7px;
        background-color: white;
        border-radius: 5px;
        border: 1px solid rgba(128, 128, 128, 0.21);
    }

    h2 {
        margin-top: 5px;
        font-size: medium;
    }
}

.rightmaindiv {
    width: 50%;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    input {
        padding: 7px;
        background-color: white;
        border-radius: 5px;
        border: 1px solid rgba(128, 128, 128, 0.21);
    }

    .right {
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 400px;
        height: 100%;
        margin-left: -20px;
    }

    .inputt {
        display: flex;
        width: 100%;
        height: 60px;
        gap: 24px;
    }

    h2 {
        font-size: medium;
    }

    .imgsdiv {
        width: 100%;
        height: 40px;
        display: flex;
        gap: 5px;
        margin-bottom: 20px;

        img {
            width: 40px;
            height: 40px;
        }
    }

    .cards {
        width: 30%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }


    .divs {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 20px;
    }

    .bot {
        margin-top: 20px;
        display: flex;
        justify-content: end;
        align-items: center;
        width: 100%;
        height: 40px;

        button {
            font-weight: normal;
            padding: 14px 15px;
            border-radius: 5px;
        }
    }

    a:hover {
        color: orange;
    }

    a {
        transition: 0.3s;
    }

    td {
        padding: 40px 25px 40px 25px;

        button {
            border-radius: 4px;
            font-weight: 600;
            padding: 8px;
        }
    }

    th {
        padding-right: 8px;
        font-weight: bold;
    }

    .lala {
        background-color: white;
        border-radius: 12px;
        color: black;
        border: 1px solid grey;
        padding: 7px 30px 7px 5px;
    }
}

.radio {
    display: flex;
    gap: 5px;
}

::placeholder {
    color: rgba(0, 0, 0, 0.818);
}