.container {
  height: 500px;
  display: flex;
  width: 100%;
  align-items: center;
  padding-left: 150px;
  margin-top: 100px;
}

.main {
  width: 80%;
  display: flex;
  gap: 10px;
  height: 500px;
}

.leftmaindiv {
  width: 360px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.leftmaindiv input {
  padding: 8.6px 7px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.21);
}
.leftmaindiv h2 {
  margin-top: 5px;
  font-size: medium;
}

.rightmaindiv {
  width: 50%;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.rightmaindiv input {
  padding: 7px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.21);
}
.rightmaindiv .right {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;
  height: 100%;
  margin-left: -20px;
}
.rightmaindiv .inputt {
  display: flex;
  width: 100%;
  height: 60px;
  gap: 24px;
}
.rightmaindiv h2 {
  font-size: medium;
}
.rightmaindiv .imgsdiv {
  width: 100%;
  height: 40px;
  display: flex;
  gap: 5px;
  margin-bottom: 20px;
}
.rightmaindiv .imgsdiv img {
  width: 40px;
  height: 40px;
}
.rightmaindiv .cards {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.rightmaindiv .divs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 20px;
}
.rightmaindiv .bot {
  margin-top: 20px;
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 40px;
}
.rightmaindiv .bot button {
  font-weight: normal;
  padding: 14px 15px;
  border-radius: 5px;
}
.rightmaindiv a:hover {
  color: orange;
}
.rightmaindiv a {
  transition: 0.3s;
}
.rightmaindiv td {
  padding: 40px 25px 40px 25px;
}
.rightmaindiv td button {
  border-radius: 4px;
  font-weight: 600;
  padding: 8px;
}
.rightmaindiv th {
  padding-right: 8px;
  font-weight: bold;
}
.rightmaindiv .lala {
  background-color: white;
  border-radius: 12px;
  color: black;
  border: 1px solid grey;
  padding: 7px 30px 7px 5px;
}

.radio {
  display: flex;
  gap: 5px;
}

::-moz-placeholder {
  color: rgba(0, 0, 0, 0.818);
}

::placeholder {
  color: rgba(0, 0, 0, 0.818);
}

@media (max-width: 600px) {
  .container {
    height: 1000px;
    width: 700px;
    margin-top: 200px;
  }
  .main {
    flex-direction: column;
    gap: 30px;
    height: 900px;
    width: 700px;
  }
  .inputt {
    width: 400px;
    gap: 10px;
    flex-direction: column;
  }
  .cards {
    width: 130px;
  }
  .rightmaindiv {
    width: 450px;
  }
  .bottomcon {
    margin-top: 200px;
  }
}
body {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 100px;
}
header a {
  text-decoration: none;
  color: black;
  transition: 0.3s;
}
header a:hover {
  color: blue;
}
header .topdiv {
  width: 100%;
  height: 50%;
  color: white;
  font-size: small;
  font-weight: 200;
  background: #DB4444;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .topdiv a {
  color: white;
  font-size: larger;
  font-weight: bold;
}
header .topdiv div {
  width: 50%;
  padding: 0px 15px;
}

.bottomdiv {
  padding: 20px 0px 0px;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(10, 10, 10, 0.633);
}
.bottomdiv .imbottomfirstdiv {
  width: 60%;
  height: 100%;
  padding: 10px;
}
.bottomdiv .inbottomseconddiv {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.bottomdiv .inbottomseconddiv a {
  font-weight: bold;
  color: white;
}

.ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  list-style-type: none;
  width: 100%;
  margin: 0;
  flex-direction: row;
  height: 100%;
}
.ul li {
  color: black;
}

* {
  margin: 0;
  padding: 0;
  font-weight: 200;
}

#li1 {
  font-size: xx-large;
  font-weight: 700;
}

#li2 {
  padding: 0px 0px 0px 2px;
  border-bottom: 1px solid black;
}

#li3 {
  background-color: #DB4444;
  color: white;
  padding: 5px;
  font-size: small;
  border-radius: 5px;
}
#li3 a {
  color: white;
}

input {
  padding: 5px;
  background-color: rgba(184, 184, 184, 0.666);
  outline: none;
  border: none;
}

button {
  background-color: #DB4444;
  color: white;
  padding: 5px;
  font-weight: bold;
  font-size: small;
  border: none;
  outline: none;
  border-radius: 5px;
}

.ull {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  list-style-type: none;
  width: 100%;
  margin: 0;
  height: 100%;
  display: block;
}
.ull li {
  color: black;
}

.burgermenyu {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  max-height: 200px;
  display: none;
}

@media (max-width: 600px) {
  header {
    width: 800px;
  }
  header button {
    width: 50px;
  }
  .burgermenyu {
    display: block;
    margin-bottom: 40px;
  }
  .bottomdiv {
    border: none;
  }
  .inbottomseconddiv {
    justify-content: start;
    align-items: start;
    padding-bottom: 20px;
    margin-right: 200px;
  }
  .ul {
    display: none;
  }
  .topdiv {
    width: 1700px;
  }
}
body {
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  width: 100%;
  height: 350px;
  background-color: #DB4444;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  gap: 20px;
  margin-top: 100px;
}
footer .somedivs {
  flex-direction: column;
  width: 250px;
  height: 60%;
  display: flex;
  gap: 20px;
}

.topfoot {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: space-around;
}
.topfoot h2 {
  color: white;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: start;
  align-items: start;
  list-style-type: none;
}

li {
  font-weight: bold;
  font-size: 16px;
  color: white;
}

.view {
  gap: 20px;
}
.view h2 {
  margin-bottom: 20px;
}
.view ::-moz-placeholder {
  color: rgba(245, 245, 245, 0.555);
  font-size: small;
}
.view ::placeholder {
  color: rgba(245, 245, 245, 0.555);
  font-size: small;
}
.view input {
  background-color: transparent;
  width: 230px;
  height: 32px;
  border: 2px solid rgb(196, 196, 196);
}

.img {
  position: absolute;
  margin: 83px 0px 0px 200px;
}

.bottomfoot {
  width: 100%;
  height: 40px;
  border-top: 1px solid rgba(128, 128, 128, 0.319);
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottomfoot p {
  color: rgba(195, 195, 195, 0.242);
}

.hate {
  width: 300px;
  height: 240px;
}
.hate .inhatemain {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.inhatemainsour {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  gap: 30px;
}
.inhatemainsour a {
  text-decoration: none;
}

@media (max-width: 600px) {
  footer {
    width: 780px;
    height: 650px;
    margin-top: 700px;
  }
  .topfoot {
    flex-wrap: wrap;
    justify-content: baseline;
    align-items: baseline;
  }
}/*# sourceMappingURL=style.css.map */